// normalize
@import url('./generic/normalize.scss');

html {
  background: var(--el-bg-color-page);
}

.section {
  margin-bottom: 24px;
  padding: 16px;
  background-color: var(--el-bg-color);
  border-radius: 10px;

  &__title {
    padding-bottom: 6px;
    font-weight: normal;

    &::before{
      display: inline-block;
      width: 14px;
      height: 24px;
      margin-right: 12px;
      vertical-align: -0.12em;
      background-color: var(--el-color-primary-light-3);
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      content: '';
    }
  }

  &-header {
    margin-bottom: 16px;

    &__label {
      margin-bottom: 8px;
      color: var(--el-text-color-regular);
    }
  }

  &-input {
    width: 180px;
  }
}

.banner {
  padding: 24px 0 32px;
  font-family: poppins,-apple-system,BlinkMacSystemFont,"Microsoft YaHei",Arial,system-ui,sans-serif;

  &__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 46px;
    line-height: 60px;
    background: linear-gradient(to right, var(--el-color-primary) 0%, #17E4C4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    ::selection {
      background: #ffffff;
    }
  }

  &__description {
    font-size: 32px;
  }
}

.content {
  color: var(--el-text-color-primary);
  line-height: 1.8;

  h2,
  h3 {
    font-weight: normal;
    line-height: 2;
  }

  h3 {
    margin-top: 6px;
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }

  ul {
    li {
      position: relative;
      padding-left: 24px;
      font-size: 16px;

      &::before {
        position: absolute;
        top: 13px;
        left: 6px;
        width: 6px;
        height: 6px;
        background-color: var(--el-color-primary);
        border-radius: 50%;
        content: '';
      }
    }
  }

  table {
    width: 100%;
    margin: 12px 0;
    text-align: center;
    border-collapse: collapse;

    td {
      padding: 4px 8px;
      border: 1px solid var(--el-border-color-light);
    }
  }

  blockquote {
    margin: 10px 0;
    padding: 8px 16px;
    background: var(--el-bg-color-page);;
    border-left: 3px solid var(--el-color-primary);
    border-radius: 4px;
  }

  a {
    margin: 0 3px;
    color: var(--el-color-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  pre {
    padding: 12px;
    color: var(--el-text-color-primary);
    font-family: Hack, Monaco, Consolas, sans-serif;
    background-color: var(--el-color-primary-light-9);
    border-radius: 4px;
  }

  code {
    display: inline-block;
    margin: 0 4px;
    padding: 3px 6px;
    color: var(--el-color-primary);
    font-size: 90%;
    font-family: Consolas, Menlo, Courier, monospace;
    line-height: 1em;
    background-color: #ECF5FF;
    border-radius: 4px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding-top: 8px;
    border-top: 1px dashed var(--el-border-color-light);

    p {
      color: var(--el-text-color-regular);
      font-size: 14px;
    }
  }
}

.pagination {
  padding-top: 16px;
}
