// normalize
@import url('./generic/normalize.scss');

html {
  background: var(--el-bg-color-page);
}

.section {
  margin-bottom: 24px;
  padding: 16px;
  background-color: var(--el-bg-color);
  border-radius: 10px;
}
